<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
    <h1> You are in about page.</h1>

    {{#each arr}}
      {{this}}<br>
    {{/each}}

    <h3> Sum is {{arr_sum}}</h3>
    
<br>
<a href = '/'>Home Page</a>
  </body>
</html>
