<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Yeahh</title>
  </head>
  <body>
    <h2> Hi.... Welcome  <h1>{{name}}
    <h4> Today is {{C_dt}}

      <a href = '/about'>Go to About Page</a>
      
  </body>
</html>
